{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="m-single-article">
	{% if mov %}
	<div class="article-center">
		<h3>{{mov.title}} Trailer ||<span> <i class="fa fa-heart"></i> 99%</span></h3>
		<p><a class="m-green" href="#" style="width:20rem">{{mov.genre}}</a>
			{% comment %} <a class="m-green" href="#">Thriller</a> {% endcomment %}
			<a class="m-orange" href="#">{{mov.language}}</a></p>
		<div class="clearfix"></div>
		<div class="article-time-strip">
			<div class="article-time-strip-left">
				<p >Duration <span style="color:black"><i class="fa fa-clock-o"></i>{{mov.runtime}}</span>  &nbsp;&nbsp; Release Date <span style="color:black"><i class="fa fa-calendar"></i>{{mov.release_date}}</span></p>
			</div>
			<div class="clearfix"></div>
			<div class="article-img">

				<iframe src="{{mov.trailer}}" frameborder="0" allowfullscreen></iframe>

			</div>
			<div class="review-info">
				<div style="display:flex">
				<h6 class="span88">{{mov.title}}</h6> &nbsp;&nbsp;&nbsp;
				<a href="{% url 'theatre_choose' mov.id %}" ><button type="button" class="btn btn-danger">Book Tickets</button></a>
				</div><br>
				
					<div class="clearfix"></div>
				<p class="info"><strong>CAST</strong>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{mov.cast}}.</p>
				<p class="info"><strong>DIRECTION</strong>: &nbsp;&nbsp;&nbsp;&nbsp;{{mov.director}}.</p>
				<p class="info"><strong>WRITERS</strong>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{mov.writers}}.</p>
				<p class="info"><strong>YEAR</strong>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{mov.year}}.</p>
				<p class="info"><strong>DURATION</strong>:&nbsp;&nbsp;&nbsp; &nbsp; {{ hours|floatformat:0 }} hours {{ minutes|floatformat:0 }} minutes</p>
			</div>
		</div>
	</div>
	
	<div class="clearfix"></div>
	{% endif %}
</div>
</div>
{% endblock %}